@import "~bootstrap/scss/bootstrap";
$myColor: #073a7e;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    li {
        list-style: none;
    }
    a {
        text-decoration: none !important;
    }
    button a {
        text-decoration: none !important;
        color: $myColor;
    }
    i {
        color: white;
    }
    hr {
        color: #6ed663;
        border: none;
        border-top: 2px solid #6ed663;
    }
    textarea {
        height: 150px; /* Set your desired height here */
    }
}

// header {
//     position: fixed !important;
//     top: 0;
//     width: 100%;
// }
header {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 2;
    .__bordered-text {
        color: #6ed663;

        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $myColor;
        text-stroke-width: 1px;
        text-stroke-color: $myColor;
    }
}

main {
    background-color: #1c2d3e;
    min-height: 91.2vh;
    padding-top: 100px;
    padding-bottom: 50px;
    flex-grow: 1;

    .__jumbo {
        margin-top: 0px;
        .__welcome {
            width: 50%;
        }
        .__image {
            width: 50%;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                // border: 1px solid #073a7e;
                border-radius: 15px;
            }
        }
    }

    aside {
        display: flex;
        flex-flow: column;
        gap: 2em;
        height: 100%;
        min-width: 200px;
        border-right: 1px solid #6ed663;
        background-color: #1c2d3e;
        .card {
            background-color: transparent !important;
            color: white;
            .list-group {
                a {
                    color: white;
                    background-color: transparent;
                }
                a.__active {
                    color: yellow;
                    font-weight: bold;
                    background-color: transparent;
                }
            }
        }
    }
    .__content {
        width: 70%;
    }
}

//footer {
// position: fixed;
// bottom: 0;
// width: 100%;
